* {
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.border-dotted {
	border: 0.5px dotted rgb(190, 188, 188);
}

#container {
	height: 100vh;
	gap: 20px;
}

#grid-container {
	height: 500px;
	width: 500px;
	flex-wrap: wrap;
}

.grid-cell {
	user-select: none;
}

.border-none {
	border: none;
}

#controls-container {
	height: 50%;
	justify-content: space-around;
}
